body {
  background-image: url(/images/pattern-background-desktop.svg);
  background-color: hsl(225, 100%, 94%);
  font-family: "Red Hat Display", sans-serif;
  background-repeat: repeat-x;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imagen {
  border-radius: 10px 10px 0px 0px;
  width: 400px;
}

.tarjeta {
  background-color: white;
  width: 400px;
  height: 400px;
  margin-top: -25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  border-radius: 0px 0px 10px 10px;
}

.tarjeta h1 {
  font-size: 23px;
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.tarjeta p {
  font-size: 16px;
  color: hsl(224, 23%, 55%);
  width: 300px;
  text-align: center;
}

.tarjeta-precio {
  display: flex;
  background-color: hsl(225, 100%, 98%);
  width: 320px;
  height: 80px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.tarjeta-precio h5 {
  color: hsl(223, 47%, 23%);
  font-weight: 900;
}

.icon {
  margin-left: 10px;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.precio {
  align-items: center;
  margin-left: 10px;
}

.precio p {
  display: flex;
  margin-top: -17px;
  font-size: 14px;
}
